<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="/css/locations.css">
</head>
<body>
    <div class="button-list">
        <div>Все локации</div>
        <div>Импорт/Экспорт</div>
        <div>Настройки</div>
    </div>
    <div>
        <img src="" alt="">
        <p>Создать локацию</p>
    </div>
    <div id="locationList"></div>
    <script type="text/javascript" src="/js/locations.js"></script>
</body>
</html>