<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/settings.css">
</head>
<body>
    <div class="button-list" id="buttonList">
        <div>Все локации</div>
        <div>Импорт/Экспорт</div>
        <div>Настройки</div>
    </div>
    <h1>Настройка полей таблицы</h1>
    <table class="">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">Описание</th>
            <th scope="col">Сортировка</th>
            <th scope="col">ID</th>
            <th scope="col">Тип поля</th>
            <th scope="col">Выводить в таблицу</th>
            <th scope="col">Обязательно</th>
            <th scope="col">Удалить</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td scope="row">
                <div class="tr-name">
                    <img src="../assets/threeDots.svg" alt="" srcset="">
                    <p>Название</p>
                    <img src="../assets/pencil.svg" alt="" srcset="">
                </div>
            </td>
            <td><p class='question'>?</p></td>
            <td><p>500</p></td>
            <td><p>1001</p></td>
            <td><p>Строка</p></td>
            <td>
                <div class="checkbox-container">
                    <label class="orangeCheckbox">
                    <input type="checkbox" checked="checked">
                    <span class="checkmark"></span>
                </div>
              </label>
            </td>
            <td>
                <div class="checkbox-container">
                    <label class="orangeCheckbox">
                    <input type="checkbox" checked="checked">
                    <span class="checkmark">
                    </span>
                </div>
            </td>
            <td>
                <div class="checkbox-container">
                    <label class="orangeCheckbox">
                    <input type="checkbox" checked="checked">
                    <span class="checkmark"></span>
                </div>
            </td>
          </tr>
          <tr>
            <td scope="row">
                <div class="tr-name">
                    <img src="../assets/threeDots.svg" alt="" srcset="">
                    <p>Цена</p>
                    <img src="../assets/pencil.svg" alt="" srcset="">
                </div>
            </td>
            <td><p></p></td>
            <td><p>510</p></td>
            <td><p>1002</p></td>
            <td><p>Число</p></td>
            <td>
                <div class="checkbox-container">
                    <label class="orangeCheckbox">
                    <input type="checkbox" checked="checked">
                    <span class="checkmark"></span>
                </div>
              </label>
            </td>
            <td>
                <div class="checkbox-container">
                    <label class="orangeCheckbox">
                    <input type="checkbox" checked="checked">
                    <span class="checkmark">
                    </span>
                </div>
            </td>
            <td>
                <div class="checkbox-container">
                    <label class="orangeCheckbox">
                    <input type="checkbox" checked="checked">
                    <span class="checkmark"></span>
                </div>
            </td>
          </tr>
          <tr>
            <td scope="row">
                <div class="tr-name">
                    <img src="../assets/threeDots.svg" alt="" srcset="">
                    <p>МОЛ</p>
                    <img src="../assets/pencil.svg" alt="" srcset="">
                </div>
            </td>
            <td><p class='question'>?</p></td>
            <td><p>520</p></td>
            <td><p>1003</p></td>
            <td><p>Справочник</p></td>
            <td>
                <div class="checkbox-container">
                    <label class="orangeCheckbox">
                    <input type="checkbox" checked="checked">
                    <span class="checkmark"></span>
                </div>
              </label>
            </td>
            <td>
                <div class="checkbox-container">
                    <label class="orangeCheckbox">
                    <input type="checkbox" checked="checked">
                    <span class="checkmark">
                    </span>
                </div>
            </td>
            <td>
                <div class="checkbox-container">
                    <label class="orangeCheckbox">
                    <input type="checkbox" checked="checked">
                    <span class="checkmark"></span>
                </div>
            </td>
          </tr>
          <tr>
            <td scope="row">
                <div class="tr-name">
                    <img src="../assets/threeDots.svg" alt="" srcset="">
                    <p>Фото</p>
                    <img src="../assets/pencil.svg" alt="" srcset="">
                </div>
            </td>
            <td><p></p></td>
            <td><p>530</p></td>
            <td><p>1004</p></td>
            <td><p>Файл</p></td>
            <td>
                <div class="checkbox-container">
                    <label class="orangeCheckbox">
                    <input type="checkbox" checked="checked">
                    <span class="checkmark"></span>
                </div>
              </label>
            </td>
            <td>
                <div class="checkbox-container">
                    <label class="orangeCheckbox">
                    <input type="checkbox" checked="checked">
                    <span class="checkmark">
                    </span>
                </div>
            </td>
            <td>
                <div class="checkbox-container">
                    <label class="orangeCheckbox">
                    <input type="checkbox" checked="checked">
                    <span class="checkmark"></span>
                </div>
            </td>
          </tr>
          <tr>
            <td scope="row">
                <div class="tr-name">
                    <img src="../assets/threeDots.svg" alt="" srcset="">
                    <p>Цвет</p>
                    <img src="../assets/pencil.svg" alt="" srcset="">
                </div>
            </td>
            <td><p></p></td>
            <td><p>540</p></td>
            <td><p>1005</p></td>
            <td><p>Строка</p></td>
            <td>
                <div class="checkbox-container">
                    <label class="orangeCheckbox">
                    <input type="checkbox" checked="checked">
                    <span class="checkmark"></span>
                </div>
              </label>
            </td>
            <td>
                <div class="checkbox-container">
                    <label class="orangeCheckbox">
                    <input type="checkbox" checked="checked">
                    <span class="checkmark">
                    </span>
                </div>
            </td>
            <td>
                <div class="checkbox-container">
                    <label class="orangeCheckbox">
                    <input type="checkbox" checked="checked">
                    <span class="checkmark"></span>
                </div>
            </td>
          </tr>
          <tr>
            <td scope="row">
                <div class="tr-name">
                    <img src="../assets/threeDots.svg" alt="" srcset="">
                    <p>Локация</p>
                    <img src="../assets/pencil.svg" alt="" srcset="">
                </div>
            </td>
            <td><p class='question'>?</p></td>
            <td><p>550</p></td>
            <td><p>1006</p></td>
            <td><p>Справочник</p></td>
            <td>
                <div class="checkbox-container">
                    <label class="orangeCheckbox">
                    <input type="checkbox" checked="checked">
                    <span class="checkmark"></span>
                </div>
              </label>
            </td>
            <td>
                <div class="checkbox-container">
                    <label class="orangeCheckbox">
                    <input type="checkbox" checked="checked">
                    <span class="checkmark">
                    </span>
                </div>
            </td>
            <td>
                <div class="checkbox-container">
                    <label class="orangeCheckbox">
                    <input type="checkbox" checked="checked">
                    <span class="checkmark"></span>
                </div>
            </td>
          </tr>
          <tr>
            <td scope="row">
                <div class="tr-name">
                    <img src="../assets/threeDots.svg" alt="" srcset="">
                    <p>Количество</p>
                    <img src="../assets/pencil.svg" alt="" srcset="">
                </div>
            </td>
            <td><p></p></td>
            <td><p>560</p></td>
            <td><p>1007</p></td>
            <td><p>Число</p></td>
            <td>
                <div class="checkbox-container">
                    <label class="orangeCheckbox">
                    <input type="checkbox" checked="checked">
                    <span class="checkmark"></span>
                </div>
              </label>
            </td>
            <td>
                <div class="checkbox-container">
                    <label class="orangeCheckbox">
                    <input type="checkbox" checked="checked">
                    <span class="checkmark">
                    </span>
                </div>
            </td>
            <td>
                <div class="checkbox-container">
                    <label class="orangeCheckbox">
                    <input type="checkbox" checked="checked">
                    <span class="checkmark"></span>
                </div>
            </td>
          </tr>
          <tr>
            <td scope="row">
                <div class="tr-name">
                    <img src="../assets/threeDots.svg" alt="" srcset="">
                    <p>Описание</p>
                    <img src="../assets/pencil.svg" alt="" srcset="">
                </div>
            </td>
            <td><p></p></td>
            <td><p>570</p></td>
            <td><p>1008</p></td>
            <td><p>Текст</p></td>
            <td>
                <div class="checkbox-container">
                    <label class="orangeCheckbox">
                    <input type="checkbox" checked="checked">
                    <span class="checkmark"></span>
                </div>
              </label>
            </td>
            <td>
                <div class="checkbox-container">
                    <label class="orangeCheckbox">
                    <input type="checkbox" checked="checked">
                    <span class="checkmark">
                    </span>
                </div>
            </td>
            <td>
                <div class="checkbox-container">
                    <label class="orangeCheckbox">
                    <input type="checkbox" checked="checked">
                    <span class="checkmark"></span>
                </div>
            </td>
          </tr>
          <tr>
            <td scope="row">
                <div class="tr-name">
                    <img src="../assets/threeDots.svg" alt="" srcset="">
                    <p>Количество</p>
                    <img src="../assets/pencil.svg" alt="" srcset="">
                </div>
            </td>
            <td><p></p></td>
            <td><p>580</p></td>
            <td><p>1009</p></td>
            <td><p>Число</p></td>
            <td>
                <div class="checkbox-container">
                    <label class="orangeCheckbox">
                    <input type="checkbox" checked="checked">
                    <span class="checkmark"></span>
                </div>
              </label>
            </td>
            <td>
                <div class="checkbox-container">
                    <label class="orangeCheckbox">
                    <input type="checkbox" checked="checked">
                    <span class="checkmark">
                    </span>
                </div>
            </td>
            <td>
                <div class="checkbox-container">
                    <label class="orangeCheckbox">
                    <input type="checkbox" checked="checked">
                    <span class="checkmark"></span>
                </div>
            </td>
          </tr>
        </tbody>
      </table>
    <div class="button-list" id="buttonList">
        <div>Все локации</div>
        <div>Импорт/Экспорт</div>
        <div>Настройки</div>
    </div>
</body>
</html>